@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');

:root {
    --main-red: #ff5252;
    --main-blue: #55a6ff;
    --main-grey: #303030;
   
}
body { margin: 0px; font-family: 'Lato', sans-serif;}

nav {
    background-color: var(--main-grey);
    height: 50px;  
}
#headerLogoTitle {
    margin: 3px 0px 0px 20px;
    display: inline-block;
    
}

#headerLogo {
    height: 30px;
    transform: rotateZ(-25deg) translateY(10px);
    
}
#homeButton {
    font-family: 'Lato', sans-serif;
    color: white;
    display: inline-block;
    text-decoration: none;
    margin-left: 5px;
    font-size: 1.3em;
    transition: 1000ms;
}
#headerLogoTitle:hover #homeButton{
    color: var(--main-blue);
    transition: 200ms;
}

#infoButton {
    float: right;
    margin: 12px 30px 0px 0px;
    color: white;
    font-size: 1.5em;
    /* transition: 300ms; */
}
#infoButton:hover {
   color: var(--main-red);
   transition: 300ms;
}
.red {color: var(--main-red);}

/* logo goes inside*/
    .logoBox {
        height: 100px;
        width: 200px;
        display: block;
        margin: 120px auto 50px auto;
    }
/* --------------- */
#mainContent {
    position: absolute;
    left: 50%;
    width: 500px;
    margin-left: -250px; 
}

#searchBar {
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    display: block;
    height: 30px;
    width: 310px;
    margin: 0px auto;
    outline: none;
    font-size: 20px;
    padding: 10px;
    border: 1px solid #6e6e6e;
    color: var(--main-grey);
    border-radius: 2px;
    box-shadow: 0px 12px 30px -12px rgba(0,0,0,0.2);
}

#submitButton {
    transition: 200ms;
    font-family: 'Lato', sans-serif;
    text-transform: capitalize;
    font-size: 1.1em;
    background:var(--main-red); 
    display: block;
    border:0 none;
    height: 50px;
    width: 150px;
    cursor: pointer;
    -webkit-border-radius: 2px;
    border-radius: 2px; 
    margin: 20px auto 0px auto;
    box-shadow: 0px 12px 30px -12px rgba(0,0,0,0.2);  
}

#submitButton:hover {
    background:var(--main-blue); 
    color:white;
    transition: 200ms;
    transform: translateY(-3px);
}

/* _______ABOUT PAGE_________ */
#aboutContent {
    /* height: 350px; */
    width: 60%;
    margin: 50px auto 0px auto;
    padding: 25px;
    box-shadow: 
    0px 12px 30px -15px rgba(0,0,0,0.4);
   
}
#aboutTitle {
    font-family: 'Lato', sans-serif;
    margin-bottom: 0px;
    /* font-size: 4em;   */
}
.sp {
    display: block;
    font-weight: 900;
}
.sp1 {
    font-size: 1em;
    color: #999999;
}
.sp2 {
    font-size: 1.4em;
    text-transform: uppercase; 
    color: #7e7e7e;
}
.sp3 {
    font-size: 1.6em; 
    text-transform: uppercase;
    color: #5e5e5e;
}
#aboutHR {
    border: 2px solid var(--main-red);
}
.aboutParagraph {
    color: #5e5e5e;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    font-size: 2em;
}

/* _______PROTEIN PAGE_________ */

.content {
	padding: 20px;

}
.highlight-span {
	color: var(--main-red);
}
#proteinCard {
	margin: 1%;
	padding: 25px;
	border: 1px solid rgba(150,150,150,1);
	width: 340px;
	color: #393939;
	border-radius: 3px;
	box-shadow: 
    0px 12px 30px -15px rgba(0,0,0,0.4);
    float: left;
}

#proteinHeader {
	text-transform: Uppercase;
	margin: 0px 0px;
	font-size: 22px;
}

.proteinHeaderHR {
	border: 1px solid rgba(250,150,150,0.5);
	margin: 15px 0px 25px 0px;
}

#proteinWindow {
	border: 1px solid rgba(150,150,150,1);
}
.stats {
	padding: 0px 0px;
}

#sequenceBox {
	box-shadow: 
    0px 12px 30px -15px rgba(0,0,0,0.4);
    border-radius: 3px;
	border: 1px solid rgba(150,150,150,1);
	float: left;
	
	padding: 10px;
	margin: 1%;
}
#sequence-query {
	border: 1px solid rgba(150,150,150,1);
	height: 30px;
	display: block;
	width: 60%;
	font-size: 18px;
	color: var(--main-blue);
	transition: 300ms;
}

#sequence-query:focus {
	border: 1px solid var(--main-blue);
	outline: none;
	transform:scale(1.02, 1.02);
	transition: 300ms;
}
table {
	border: 1px solid rgba(150,150,150,1);
	box-shadow: 
    0px 12px 30px -15px rgba(0,0,0,0.4);
	padding: 10px;
	margin: 1% auto;
	border-radius: 3px;
	
}
table:nth-child (even) {
	background: red;
}

#diseaseView {
	border-radius: 3px;
	border: 1px solid rgba(150,150,150,1);
	box-shadow: 
    0px 12px 30px -15px rgba(0,0,0,0.4);
	clear: both;
	padding: 10px;
	margin: 1%;

}

/* __________________________ */

.typeButton {
    width: 100px;
    margin: 5px 5px;
    height: 50px;

    transition: 200ms;
    font-family: 'Lato', sans-serif;
    text-transform: capitalize;
    font-size: 1.1em;
    background:var(--main-blue); 
    display: inline-block;
    border:0 none;
    
    cursor: pointer;
    -webkit-border-radius: 2px;
    border-radius: 2px; 

   /*  box-shadow: 0px 12px 30px -12px rgba(0,0,0,0.2);  */ 
}
.typeButton:hover {
   box-shadow: inset 0px -5px 0px 0px rgba(255, 255, 255, 0.7);  
    /* color:white; */
    transition: 200ms;
    transform: translateY(-3px);
    
}
.typeButton:focus {
    outline: none;
    box-shadow: inset 0px 0px 0px 5px rgba(255, 255, 255, 0.5);
    transition: 300ms;
}

#proteinWindow {
    /* box-shadow: 0px 0px 35px 23px rgb(230, 70, 70); */
    border: 1px solid #393939;
    
}

#proteinViewer {
    padding: 20px;
    z-index: 999;
    position: fixed;
    width: 90%;
    height: 500px;
    background: #1d1d1d;
    margin: 20px 5%;
    box-shadow: 0px 0px 0px 200px rgba(0,0,0,0.5);
    font-family: "Lato";
}
.collapse {
    float: right;
    display: inline-block;
    border-radius: 100px;
    height: 30px;
    width: 30px;
    text-align: center;
    transition: 200ms;
    
}
.collapse:hover {
    background: var(--main-red);
    transition: 200ms;
    transform: translateY(-3px);
}
#proteinWindowViewer {
    float: left;
}
#controls {
    /* background: red; */
    height: 300px;
    /* float: left; */
    margin-top: 10%;
}
.typeButtonsTitle {
    margin: 10px 0px 20px 0px;
    color: white;
}

.hide {
    display: none;
}

.launchButton {
	width: 100%;
    margin: 5px auto; 
    height: 50px;
    transition: 200ms;
    font-family: 'Lato', sans-serif;
    text-transform: capitalize;
    font-size: 1.1em;
    background:var(--main-red); 
    display: block;
    border:0 none;
    
    cursor: pointer;
    -webkit-border-radius: 2px;
    border-radius: 2px; 
	transition: 200ms;
    box-shadow: 0px 12px 30px -12px rgba(0,0,0,0.4); 
}

.launchButton:hover {
	transform: scale(1.05,1.05);
	box-shadow: 0px 15px 30px -12px rgba(0,0,0,0.2); 
	transition: 200ms;
}
.line {
	background:var(--main-red); 
}
.stick {
	
}
.cartoon{
	background: #55ffaa;
}
.sphere {
	background: #ffb055;
  
}
.cross {
	background: #fff455;
}

#searchResultsWrap{
	text-align: center;
	
}

/*  
					<button class="line typeButton">Line</button>
                    <button class="stick typeButton">Stick</button>
                    <button class="cartoon typeButton">Cartoon</button>
                    <button class="sphere typeButton">Sphere</button>
                    <button class="cross typeButton">Cross</button>
*/
